
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{metaTag.title}}</title>

	<meta name="description" content="{{metaTag.content}}" />
	
	<link rel="shortcut icon" href="assets/pizzaFavicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="/css/mainPage.css">
	<link rel="stylesheet" type="text/css" href="{{metaTag.link}}">

	{{{metaTag.data}}}

</head>
<body>

	{{{body}}}

	<script src="/javascript/mainPage.js"></script>
	<script src="/javascript/findPizzeria.js"></script>
	<script src="/javascript/reportPizza.js"></script>

	<script src="/javascript/selections.js"></script>

</body>
</html>